style "button"
{
	GtkWidget::interior_focus = 0
#	GtkWidget::focus_padding = 2

	engine "pixmap" 
    {
		image 
		{
			function = BOX
			state = NORMAL
			file = "button/button.png"
			border = {4, 4, 4, 4}
			stretch = TRUE
		}
		image 
		{
			function = BOX
			state = PRELIGHT
			file = "button/button.png"
			border = {4, 4, 4, 4}
			stretch = TRUE
		}
		image 
		{
			function = BOX
			state = INSENSITIVE
			file = "button/button-insensitive.png"
			border = {4, 4, 4, 4}
			stretch = TRUE
		}
		image 
		{
			function = BOX
			state = ACTIVE
			file = "button/button-active.png"
			border = {4, 4, 4, 4}
			stretch = TRUE
		}
		image {
			function = FOCUS
			detail = "button"
			file = "button/button-focus.png"
			border = {4, 4, 4, 4}
			stretch = TRUE
		}
#		image {
#			function = FOCUS
#			state = ACTIVE
#			detail = "button"
#			file = "button/button-active-focus.png"
#			border = {4, 4, 4, 4}
#			stretch = TRUE
#		}
    }
}

style "combo" {
	text[PRELIGHT] = @black
	GtkWidget::interior_focus = 0
#	GtkWidget::focus_line_width = 1
#	GtkComboBox::appears_as_list = 0
	engine "pixmap" {
		image 
		{
		}
	}
}

class "GtkButton" style "button"
widget_class "*.<GtkCombo>.*" style "combo"
widget_class "*.<GtkComboBox>.*" style "combo"
class "GtkOptionMenu" style "combo"

