style "checkbox"
{
	GtkCheckButton::indicator_size = 16
	GtkCheckButton::indicator_spacing = 0
	GtkWidget::interior_focus = 1

	engine "pixmap" 
	{
		image 
		{
			function = CHECK
			shadow = OUT
			overlay_file = "checkbox/checkbox.png"
			overlay_stretch = FALSE
		}

		image 
		{
			function = CHECK
			shadow = IN
			overlay_file = "checkbox/checkbox-pressed.png"
			overlay_stretch = FALSE
		}
	}
}

style "radiobutton"
{
    GtkCheckButton::indicator_size = 19
    GtkCheckButton::indicator_spacing = 0

	engine "pixmap" 
	{
        image
        {
            function = OPTION
            shadow = OUT
            overlay_file = "checkbox/option.png"
            overlay_stretch = FALSE
        }

        image
        {
            function = OPTION
            shadow = IN
            overlay_file = "checkbox/option-pressed.png"
            overlay_stretch = FALSE
        }
	}
}

class "GtkCheckButton*" style "checkbox"
class "GtkRadioButton*" style "radiobutton"

