[Desktop Entry]
Encoding=UTF-8
Version=1.0
NoDisplay=true
Type=Application
Name=aucat
Comment=
Exec=aucat -i
Icon=
Path=
Terminal=false
StartupNotify=false
Categories=
