[Desktop Entry]
Version=1.0
Type=Application
Name=ytree
Comment=
Exec=xterm -title ytree ytree
Icon=
Path=
Terminal=false
StartupNotify=false
Categories=System
